resource "aws_s3_bucket" "{{$.NameSnakeCase}}_bucket" {
  bucket = "${var.client}-${var.environment}-{{$.Name}}"
  acl    = "private"

  {{ if gt $.ExpirationDays 0 }}lifecycle_rule {
    id      = "{{$.Name}}-expiry"
    enabled = true
    expiration {
      days = {{$.ExpirationDays}}
    }
  }{{end}}
}
