package main

import (
	"context"

	{{ range getFileImports $.Files "lambda.go" }}"{{ . }}"
	{{end}}
)

type {{$.Name}}Lambda struct {}

func new{{$.NamePascalCase}}Lambda() *{{$.Name}}Lambda {
	return &{{$.Name}}Lambda{}
}

func (l *{{$.Name}}Lambda) run(ctx context.Context) error {
	// TODO: Implement

	return nil
}
