package main

import (
	"context"

	{{ range $.Code.lambda.Imports }}"{{.}}"
	{{end}}
)

type {{$.Name}}Lambda struct {}

func new{{$.Name}}Lambda() *{{$.Name}}Lambda {
	return &{{$.Name}}Lambda{}
}

func (l *{{$.Name}}Lambda) run(ctx context.Context) error {
	logging.Info.Println("running {{$.Name}}")

	// TODO: Implement

	return nil
}
